@{
    ViewBag.Title = "MyBlog";
}

<h2>Blog---Zaffar Majeed--</h2>

<aside>
    <h3>Quick Links Generated Here...</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("MyBlog", "MyBlog", "Home")</li>

    </ul>
</aside>